    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form ng-click="addNew()">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" data-ng-model="selectedAll" data-ng-click="checkAll()" /></th>
                                         <th>Id</th>
                                        <th>Customer Name</th>
                                        <th>Password</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="personalDetail in personalDetails" class= "settingListItem ng-scope" data-ng-dbclick= "editEvent(event)">
                                        <td>
                                            <input type="checkbox" data-ng-model="personalDetail.selected"/></td>
                                        <td>
                                            <input type="text" class="form-control" data-ng-model="personalDetail.id" required/></td>
                                        <td>
                                            <input type="text" class="form-control" data-ng-model="personalDetail.name" required/></td>
                                        <td>
                                            <input type="email" class="form-control" data-ng-model="personalDetail.password" required/></td>
                                         <td>   
                                            
                                            
									<div class="buttons" ng-show="!companyform.$visible">
                    
                    					<button class="btn btn-info" ng-click="getCompanyCoupons (company.id, $index)">coupons</button>
                    					<button id="{{'edit' + $index}}" class="btn btn-primary" ng-click="companyform.$show()"><i class="fa fa-pencil">&nbsp; Edit</i></button>
                   						 <button class="btn btn-danger" ng-click="removeCustomer($index)"><i class="fa fa-trash"> &nbsp; Delete </i></button>
                					</div>
										</td>
                                    </tr>
                                </tbody>
                            </table>
  								<button type="submit" class="btn btn-primary right" ng-click="addUser()"><i class="fa fa-plus">Add Company</i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
