<header class="main-header">
        <!-- Logo -->
        <div class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>CS</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Coupon System</b></span>
        </div>>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a class="sidebar-toggle" data-toggle="offcanvas" role="button" data-ng-click="vm.sideBar(1);">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    
                <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="style/images/coupon.png" class="user-image" alt="User Image" />
                            <span class="hidden-xs">Admin view </span>
                        </a>
                        
                    </li>
                    
                     <li class="user-footer">
                        <a ui-sref="login"
 							class="btn btn-danger btn-flat">
                           Log Out
                        </a>
                        
                    </li>
                </ul>
            </div>
        </nav> 
</header>

<!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="image" align="center">
                    <img src="style/images/coupon.png" class="img-circle" alt="User Image">
                </div>
            </div>
            
            <ul class="sidebar-menu">
                <li class="treeview">
                	
                	<a ui-sref="admin.company">
                	<i class="fa fa-suitcase"></i><span> Companies</span>
					</a>
					
					<a ui-sref="admin.customer">
                	<i class="fa fa-users"></i><span> Customers</span>
					</a>
				</li>       
             
                
                </ul>
            
            
            </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    
        <ui-view></ui-view>
    </div>

        
   
            
