<div class="panel panel-default">
	<div class="panel-body">
                      
	<form>
    	<div class="form-group">
      		<div class="input-group">
        		<div class="input-group-addon"><i class="fa fa-search"></i></div>
        			<input type="text" class="form-control" placeholder="Search..." data-ng-model="searchCoupon"/>
        				<span class="input-group-btn">
                    		<button data-ng-click="ClearSearchText()" class="btn btn-primary"> Clear </button>
                		</span>
      		</div>      
    	</div>
  	</form>
	<div id="loader" style="dispaly:none;">
		<img src="https://www.fundraising.com/Content/spinner.big.gif" 
        	width=50px 
        	height=50px>
	</div>   
   
   <!--Filters-->
<div class="row">
    <!--Filter By Type-->
    <div class="col-md-3">
        <div class="input-group">
            <span class="input-group-addon" id="type-addon">Coupon Type:</span>
            <div class="col-md-6 select-style">
                <select class="form-control"
                        aria-describedby="type-addon"
                        id="typeSelect"
                        ng-model="filterItem.couponType"
                        ng-options="coupon.type for item in filterOptions.couponTypes">
                </select>
            </div>
        </div>
    </div>
    
    
    <!--Filter By Price-->
    <div class="col-md-3">
        <div class="input-group">
                <span class="input-group-addon"
                      id="Price-addon">Up to price:
                </span>
            <input type="number"
                   min="1"
                   ng-model="couponFilter.upToPrice"
                   placeholder="Price"
                   class="form-control"
                   aria-describedby="Price-addon"/>
            <span class="input-group-btn">
                    <button class="btn btn-secondary"
                            type="button"
                            ng-click="byPrice()">Go!
                    </button>
                </span>
        </div>
    </div>
    <!--Filter By Date-->
    <div class="col-md-3">
        <div class="input-group">
					
        <tr>
        <td>Start Date</td>
        <td><input type="text" name="S_Date" ng-model="startDate"/></td>
        <td>End Date</td>
        <td><input type="text" name="E_Date" ng-model="endDate"/></td>
        </tr>

		</div>
    </div>
</div>
                    
	<table class="table table-responsive table-hover table-condensed">
			<thead>
				<tr style="font-weight: bold">
										
        	<th style="width:10%"> Title</th>
            <th style="width:10%"> Start Date</th>
            <th style="width:10%"> End Date</th>
            <th style="width:10%"> Amount</th>
            <th style="width:15%"> Type</th>
            <th style="width:15%"> Message</th>
            <th style="width:10%"> Price</th>
            <th style="width:15%"> Image</th>
        		</tr>
			</thead>
                                
                               
	<tr data-ng-repeat="coupon in coupons">
                               
		<td>
            <!--Title-->
            		<span 
            			editable-text="coupon.title"
            			e-ng-model= "title"
            			e-name="title"
            			e-form="couponform"
            			e-placeholder="Title">	
                      		{{ coupon.title }}
					</span>
		</td>
					
		<td>
        	<!--StartDate-->
        		<span 
        			editable-text="coupon.startDate"
        			e-ng-model = "startDate"
        			e-name="startDate"
            	 	e-form="couponform"
            	 	e-placeholder="Start Date"
            	 	onbeforesave="checkDate($data)">
            		
            			{{ coupon.startDate | date:"dd/MM/yyyy"  }}
				</span>
        </td>
      	<td>
			<!--EndDate-->
            	<span 
            		editable-text="coupon.endDate"
            		e-ng-model = "endDate"
            		e-name="endDate"
            	 	e-form="couponform"
            	 	e-placeholder="End Date"
            	 	onbeforesave="checkDate($data)">
            		
                           {{ coupon.endDate | date:"dd/MM/yyyy"  }}
            	</span>
        </td>
		<td>		
        	<!--Amount-->
            	<span 
            		editable-number="coupon.amount"
            		e-min=0
            		e-name="amount"
            		e-form="couponform"
                	e-placeholder="Amount">
                		{{ coupon.amount }}
				</span>
		</td>
        <td> 		
			<!--Type-->
            	<span 
            		editable-select="coupon.type"
                	e-name="type"
                	e-form="couponform"
                	e-ng-options="type as type for type in couponTypes"
                	e-required>
                		  {{ coupon.type }}
                </span>
            	 
		</td>	
               
                          		
		<td>  		
			<!--Message-->
                <span 
                	editable-text="coupon.message"
                    e-name="message"
                    e-form="couponform"
                    e-placeholder="Message">
                    		{{ coupon.message }}
				</span>
		</td>
            	
        <td>  		
            <!--Price-->
                <span 
                	editable-number="coupon.price"
                    e-min=0
                    e-name="price"
                    e-form="couponform"
                    e-placeholder="Price">
                    	{{ coupon.price  | currency}}
				</span>
		</td>
        <td>  		
			<!--Image-->
    			<span 
					e-name="image"
        			e-form="couponform">
            			{{ coupon.image }}
                </span>
		</td>   	
            	
            <td style="white-space: nowrap">
        	<!-- form --> 
        	
        	<form editable-form name="couponform" 
        			onbeforesave="validateDates($data); saveCoupon($data, $index)"
        			ng-show="couponform.$visible" 
        			class="form-buttons form-inline pull-right"
        			shown="inserted == coupon">
          		
          		<button type="submit" ng-disabled="couponform.$waiting" class="btn btn-primary">
            		Save
          		</button>    
          		<button type="button" ng-disabled="couponform.$waiting" ng-click="couponform.$cancel()" class="btn btn-primary">
            		Cancel
          		</button>
        	</form>                          
				
				<div class="buttons pull-right" ng-show="!couponform.$visible">
                    
                 <button class="btn btn-primary" ng-click="couponform.$show()"><i class="fa fa-pencil">&nbsp; Edit</i></button>
                 <button class="btn btn-danger" ng-click="showConfirm($event); removeCoupon($index)"><i class="fa fa-trash"> &nbsp; Delete </i></button>
                </div>
			 </td>    
		</tr>
	</tbody>
</table>
		</div>
		<button type="button" class="btn btn-primary" ng-click="addNewCouponRow()"><i class="fa fa-plus"> &nbsp; Add New Coupon</i></button>
        </div>
