                <div class="panel panel-default">
                    <div class="panel-body">
                        
                      <form>
    					<div class="form-group">
      						<div class="input-group">
        						<div class="input-group-addon"><i class="fa fa-search"></i></div>
        				<input type="text" class="form-control" placeholder="Search..." ng-model="searchCoupon">
        				<span class="input-group-btn">
                    	<button data-ng-click="ClearSearchText()" class="btn btn-primary"> Clear </button>
                		</span>
      						</div>      
    					</div>
  					</form>
                        
                        <table class="table table-responsive table-hover table-condensed">
                                <thead>
                                    <tr style="font-weight: bold">
                                        
                                        <td>
                                        <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
            							Id
            							<span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
           								<span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
          								</a>
        								</td>
        								
                                        
                                        <td>
                                        <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
            							Title
            							<span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
           								<span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
          								</a>
        								</td>
        								
        								
        								
                                        <td>
                                        <a href="#" ng-click="sortType = 'StartDate'; sortReverse = !sortReverse">
            							Start Date
            							<span ng-show="sortType == 'StartDate' && !sortReverse" class="fa fa-caret-down"></span>
           								<span ng-show="sortType == 'StartDate' && sortReverse" class="fa fa-caret-up"></span>
          								</a>
        								</td>
        								
        								
        								 <td>
                                        <a href="#" ng-click="sortType = 'EndDate'; sortReverse = !sortReverse">
            							End Date
            							<span ng-show="sortType == 'EndDate' && !sortReverse" class="fa fa-caret-down"></span>
           								<span ng-show="sortType == 'EndDate' && sortReverse" class="fa fa-caret-up"></span>
          								</a>
        								</td>
        								
        								
        								 <td>
                                        <a href="#" ng-click="sortType = 'Amount'; sortReverse = !sortReverse">
            							Amount
            							<span ng-show="sortType == 'Amount' && !sortReverse" class="fa fa-caret-down"></span>
           								<span ng-show="sortType == 'Amount' && sortReverse" class="fa fa-caret-up"></span>
          								</a>
        								</td>
        								
        								 <td>
                                        <a href="#" ng-click="sortType = 'Type'; sortReverse = !sortReverse">
            							Type
            							<span ng-show="sortType == 'Type' && !sortReverse" class="fa fa-caret-down"></span>
           								<span ng-show="sortType == 'Type' && sortReverse" class="fa fa-caret-up"></span>
          								</a>
        								</td>
        								
        								
        								 <td>
                                        <a href="#" ng-click="sortType = 'Message'; sortReverse = !sortReverse">
            							Message
            							<span ng-show="sortType == 'Message' && !sortReverse" class="fa fa-caret-down"></span>
           								<span ng-show="sortType == 'Messagee' && sortReverse" class="fa fa-caret-up"></span>
          								</a>
        								</td>
        								
        								
        								 <td>
                                        <a href="#" ng-click="sortType = 'Price'; sortReverse = !sortReverse">
            							Price
            							<span ng-show="sortType == 'Price' && !sortReverse" class="fa fa-caret-down"></span>
           								<span ng-show="sortType == 'Price' && sortReverse" class="fa fa-caret-up"></span>
          								</a>
        								</td>
        								
        								
        								 <td>
                                        <a href="#" ng-click="sortType = 'Image'; sortReverse = !sortReverse">
            							Image
            							<span ng-show="sortType == 'Image' && !sortReverse" class="fa fa-caret-down"></span>
           								<span ng-show="sortType == 'Image' && sortReverse" class="fa fa-caret-up"></span>
          								</a>
        								</td>
                                        
                                         </tr>
                                </thead>
                                
                               
                                
                                <tr ng-repeat="coupon in coupons | orderBy:sortType:sortReverse | filter:searchCoupon">
                                
                         <td>
                         		<!--Id-->
        						<span 
        						editable-text="coupon.id" 
        						e-name="name" 
        						e-form="couponform">
         				 		{{ $index }}
        						</span>
      							</td>
                                        
					<td>
               					<!--Title-->
                				<span editable-text="coupon.title"
                      			e-name="title"
                      			e-form="couponform"
                      			e-placeholder="title"
                      			onbeforesave="titleValidation($data)">

                            	{{coupon.title}}
                        		</span>
            		</td>
					<td>
                			<!--StartDate-->
                			<span 
                			editable-text="coupon.StartDate"
                      		e-name="StartDate"
                     	 	e-form="couponform"
                      		e-placeholder="StartDate">
                            {{coupon.StartDate}}
                    		</span>
                    </td>
                    <td>
                    		<!--EndDate-->
                			<span 
                			editable-text="coupon.EndDate"
                      		e-name="EndDate"
                     	 	e-form="couponform"
                      		e-placeholder="EndDate">
                            {{coupon.EndDate}}
                    		</span>
                    </td>
                    <td>		
                    		<!--Amount-->
                			<span 
                			editable-text="coupon.Amount"
                      		e-name="Amount"
                     	 	e-form="couponform"
                      		e-placeholder="Amount">
                            {{coupon.Amount}}
                    		</span>
                   </td>
                   <td> 		
                    		<!--Type-->
                			<span 
                			editable-text="coupon.Type"
                      		e-name="Type"
                     	 	e-form="couponform"
                      		e-placeholder="Type">
                            {{coupon.Type}}
                    		</span>
                  </td>
                  <td>  		
                    		<!--Message-->
                			<span 
                			editable-text="coupon.Message"
                      		e-name="Message"
                     	 	e-form="couponform"
                      		e-placeholder="Message">
                            {{coupon.Message}}
                    		</span>
            	</td>
            	
            	
            	<td>  		
                    		<!--Price-->
                			<span 
                			editable-text="coupon.Price"
                      		e-name="Price"
                     	 	e-form="couponform"
                      		e-placeholder="Price">
                            {{coupon.Price}}
                    		</span>
            	</td>
            	
            	<td>  		
                    		<!--Image-->
                			<span 
                			editable-text="coupon.Image"
                      		e-name="Image"
                     	 	e-form="couponform"
                      		e-placeholder="Image">
                            {{coupon.Image}}
                    		</span>
            	</td>
            <td style="white-space: nowrap">
        	<!-- form --> 
        	
        	<form editable-form name="couponform" 
        			onbeforesave="saveUser($data, user.id)" 
        			ng-show="couponform.$visible" 
        			class="form-buttons form-inline pull-right">
          		<button type="submit" ng-disabled="couponform.$waiting" class="btn btn-primary">
            	save
          		</button>    
          		<button type="button" ng-disabled="couponform.$waiting" ng-click="couponform.$cancel()" class="btn btn-primary">
            	cancel
          		</button>
        	</form>                          
				
				<div class="buttons pull-right" ng-show="!couponform.$visible">
                    
                 <button id="{{'edit' + $index}}" class="btn btn-primary" ng-click="couponform.$show()"><i class="fa fa-pencil">&nbsp; Edit</i></button>
                 <button class="btn btn-danger" ng-click="removecoupon()"><i class="fa fa-trash"> &nbsp; Delete </i></button>
                </div>
			 </td>    
		</tr>
	</tbody>
</table>
                          <button type="button" class="btn btn-primary" ng-click="addNew()"><i class="fa fa-plus"> &nbsp; Purchase New Coupon</i></button>
                        
                    </div>
                </div>
        